
@{
    ViewBag.Title = "Data";
}
<style>
    p{
        background-color:gray;
        border-radius: 5px;
        color:azure;
        font-size:25px;
        margin:auto;
        padding:25px;
    }
</style>

<h2>Coffee News From reddit.com/r/Coffee</h2>

@{  
        <p>@Html.Raw(ViewBag.Posts);</p>
    }
}


